* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.categories {
    background: #F7F7F7;
}

.title-sub {
    font-size: 20px;
    color: var(--primary-color);
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
}

.categories__item img {
    width: 100%;
    display: block;
    border-radius: 6px;
}

.categories__wrap {
    position: relative;
    transition: all .4s;
}

.categories__wrap:hover {
    opacity: .85;
}

.categories__wrap::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius: 6px;
}

.categories__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: translate3d(0, 10%, 0);
}

.categories__info a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
}

.categories__info h6 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

/* Blog */
.blog {
    background: #f7f7f7;
}

.blog .card {
    border: none;
    background: transparent;
}

.blog .card .card-body {
    padding: 0;
}
  
.card__header .card-img-top {
    border-radius: 5px;
}

.card__header {
    position: relative;
}

.card__header .card__pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.card__header .card__pos a { 
    color: #fff;
    background:  var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    padding: 3px 20px;
    border-radius: 35px;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
}

.card__header .card__pos span {
    display: inline-block;
    margin-left: 12px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.02em;
}

.blog__description {
    font-size: 24px;
    color: var(--heading-color);
    line-height: 34px;
    font-weight: 600;
    margin: 25px 0 15px;
    transition: .3 ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
}

.blog__detail .card-text {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Quicksand', sans-serif;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__footer .card__info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; 
}

.card__info a , .card__btn {
    color: var(--heading-color);
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.02em;
    transition: all .2s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.card__btn i{
    margin-left: 10px; 
    font-size: 18px;
}

.card__btn:hover {
    color: var(--primary-color);
    text-decoration: none;
}

/* footer */
footer {
    background: var(--footer-bg);
}

.footer__title a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: .1s;
}

.footer__title a:hover {
    color: var(--primary-color);
}

.footer__item p , .footer__link {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer__item .footer__link {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: .2s;
}

.footer__item .footer__link:hover {
    color: var(--primary-color);
}

.footer__social a {
    text-decoration: none;
    color: var(--primary-color);
    background: var(--bg-color);
    display: inline-block;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: var(--border-radius);
    transition: .3s;
}

.footer__social a i {
    font-size: 16px;
    line-height: 36px;
}

.footer__social a:hover {
    color: var(--bg-color);
    background: var(--primary-color);
}

.footer__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--bg-color);
}

.footer__item .form-input {
    display: flex;
    flex-direction: column;
}

.footer__item .form-input input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: var(--font-color);
    background: var(--bg-color);
    border-radius: var(--border-radius);
} 

.footer__item input:focus {
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
}

.footer__item .btn-primary {
    background: var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
}

.footer__item .btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
}

.copy-right {
    border-top: 1px solid rgb(255 255 255 / 5%);
    padding: 1.2em;
}

.copy-right p {
    font-size: 17px;
    color: #ddd;
    align-self: center;
    margin-bottom: 0;
}

.copy-right__list {
    margin-bottom: 0;
}

.copy-right span {
    color: var(--primary-color);
    transition: .1s;
}

.copy-right span:hover {
    color: var(--bg-color);
}

.copy-right__list {
    list-style: none;
    display: flex;
}

.copy-right__list li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
    transition: .1s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.copy-right__list li a:hover {
    color: var(--primary-color);
}

/* video */

.video__container {
    background: var(--bg-color);
}

.video__banner {
    background: url(./img/banner3.jpg) center / cover;
    background-repeat: no-repeat;
    min-height: 500px;
    z-index: 1;
    display: grid;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);
}

.video__banner .video__play-icon {
    font-size: 26px;
    background: var(--bg-color);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    line-height: 76px;
    text-align: center;
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
    border: transparent;
    animation: ripple 1s linear infinite;
}

.video__banner .video__play-icon:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    background: var(--primary-color);
    color: #fff;
    border: transparent;
}

.video__banner::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(16 15 19 / 60%);
    border-radius: var(--border-radius);
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

/* Styles for dialog window */
#small-dialog,
#small-dialog1 {
    text-align: left;
    max-width: 750px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}
#small-dialog-it,
#small-dialog-in,
#small-dialog-fr,
#small-dialog-sh,
#small-dialog-sf,
#small-dialog-su,
#small-dialog-me,
#small-dialog-ch,
#small-dialog-pi,
#small-dialog-am {
    background: white;
    padding: 0px;
    text-align: left;
    max-width: 450px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}
a.play-icon.popup-with-zoom-anim img:hover {
    opacity: 0.5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.portfolio-items {
    text-align: center;
    margin: 0 auto;
}
.portfolio-items img {
    width: 100%;
}
.portfolio-items h4 {
    margin: 1em 0;
    font-size: 25px;
    color: #a63d56;
}
.portfolio-items p {
    text-align: justify;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
     opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
     z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
     cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}
.mfp-content iframe {
    width: 100%;
    min-height: 420px;
    border: none;
    border-radius: 10px;
}
.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}
 
button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    background: #fff;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 23px;
    height: 30px;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: -40px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: white !important;
    font-style: normal;
    font-size: 28px;
    outline: none;
    font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
    background: none;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}
.login h3,
.signup h3 {
  margin: 1em 0;
  color: #a63d56;
}
.login input[type="text"],
.login input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 3px 0;
  border: 1px solid #a63d56;
  outline: none !important;
}
.signup input[type="text"] {
  width: 44.5%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}
.signup input.email[type="text"],
.signup input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}
.login input[type="submit"],
.signup input[type="submit"] {
  background: #347083;
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 17%;
  -webkit-appearance: none;
}
.login input[type="submit"]:hover,
.signup input[type="submit"]:hover {
    background: #163035;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media all and (max-width: 568px) {
    #small-dialog,
    #small-dialog1 { 
        max-width: 425px;
    }
}
@media all and (max-width: 480px) {
    .comments-area textarea {
        height: 100px;
    }
    .login input[type="submit"],
    .signup input[type="submit"] {
        font-size: 14px;
        width: 20%;
    }
    .mfp-close {
        left: 0;
    }
    #small-dialog,
    #small-dialog1 {
        max-width: 445px;
    }
}
@media all and (max-width: 414px) {
    #small-dialog,
    #small-dialog1 {
        padding: 1.5em;
    }
}
@media all and (max-width: 375px) {
    #small-dialog h2,
    #small-dialog1 h2 {
        font-size: 1.5em;
    }
}
@media all and (max-width: 320px) {
    .comments-area span.label,
    .comments-area span.text-field {
        float: none;
        width: 100%;
    }
    .comments-area span {
        padding-bottom: 3px;
    }
    .comments-area input[type="text"],
    .comments-area textarea {
        width: 92%;
    }
    .comments-area div {
        padding: 2px 0;
    }
    .mfp-content iframe {
        width: 100%;
        min-height: 250px;
    }
    .login input[type="submit"],
    .signup input[type="submit"] {
        font-size: 12px;
        width: 29%;
    }
    .signup input[type="text"] {
        width: 90%;
    }
    .mfp-close {
        right: 2px;
        top: -30px;
    }
}




